/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc: 1200px;

.pagenation {
	display: inline-block;
	text-align: center;
	@include zero;
	margin: 50px 0;
	padding:0 !important;
	width: 100%;
                
	a {
		background: #efefef;
	}

	a,
	strong {
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
		font-size: 20px;
		color: #222;
		width: 34px;
		line-height: 34px;
		margin: 0 3px;
		border:1px solid #CCCCCC;
		background:#fff;
                
		@media (min-width: $screen-size-pc) {
			width:46px;
			line-height:46px;
		} 

		&.jump,
		&.move {
			font-size:0;
			position:relative;

			i {
				position:absolute;
				left:50%;
				top:50%;
				color: #222;
				font-size: 18px;
				transform: translateY(-50%) translateX(-50%);
			}
		}
	}

	.active,
	strong {
		font-weight: normal;
		font-weight:500;
		color:#fff;
		background:#2E2E30;
		border-color:#2E2E30;
	}
}

* {
	@include box-sizing;
}


input[type="password"] {
	font-family: sans-serif;

	&::placeholder {
		font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
	}
}

.sr-only {
	position: absolute !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	clip: rect(0, 0, 0, 0) !important;
	border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

/* default input */
input,
select,
textarea {
	@include border-radius(0);
	background:#fff;
	/*
        @media all and (max-width: 1199px) {
            appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;

            &::-ms-expand {
                display: none;
            }
        }
    */
}

a {
	text-decoration: none;
	color: $text-link-color;
}

button {
	outline: none;
	border-radius: 0;
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);

	&.on {
		display: block;
	}

	.modal-content {
		position: relative;
		background-color: #fff;
		margin: 30vh auto 0;
		padding: 40px;
		width:800px;
		border-radius:20px;
		font-size:28px;
		word-break:keep-all;

		h2 {
			position:relative;
			font-size: 36px;
			margin: 0 0 30px;
			padding: 0 0 30px;
			border-bottom: 2px solid #333;

			button {
				position: absolute;
				right: 0;
				top: 0;
				border: none;
				background: transparent;
			}
		}

		li {
			margin:0 0 20px;
		}

		div.btn-set {
			text-align:center;
			margin:40px 0 0;
			font-size:0;

			button {
				border:none;
				background:#666;
				color:#fff;
				font-size:36px;
				padding:20px 60px;
				border-radius:10px;
				margin:0 10px;
				@include inner-shadow($x:0,$y: -6px, $blur: 0, $spread: 0, $alpha: 0.4);

				&.main {
					background:#0389da;
				}
			}
		}

		div.btns {
			text-align:center;
			margin:40px 0 0;

			button {
				border:none;
				padding:10px 20px;
				border-radius:20px;
				font-size:28px;
				
				span {
					color:#777;
				}
			}

		}


	}
}

.modal-admin {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);

	&.on {
		display: block;
	}

	.modal-content {
		position: absolute;
		top:50%;
		left:50%;
		transform:translateY(-50%);
		background-color: #fff;
		padding: 40px;
		width: 980px;
		margin-left:-490px;
		border-radius:20px;
		word-break:keep-all;

		h2 {
			font-size: 36px;
			margin: 0 0 30px;
			padding: 0 0 30px;
			border-bottom: 2px solid #333;

			button {
				position: absolute;
				right: 20px;
				bottom: 10;
				border: none;
				background: transparent;
				width: 22px;
				height: 22px;
				font-size: 0;
				background: url("../images/icon-close.svg") no-repeat center / 100% auto;
			}
		}

		button.close {
			position:absolute;
			right:40px;
			top:40px;
			border:none;
			background:none;

			
			i {
				font-size:60px;
			}
		}

		div.board-tool {
			margin:20px 0 40px;
			text-align:center;

			&>button {
				border:none;
				background:none;
				vertical-align:top;
				position:relative;
				top:2px;

				i {
					font-size:34px;
				}
			}

			span {
				display:inline-block;
				vertical-align:top;
				padding:0 20px;
				font-size:24px;
				font-weight:800;
			}

			div.search {
				display:inline-block;
				margin-left:20px;

				input {
					font-size:24px;
					border:1px solid #ccc;
				}

				button {
					font-size:24px;
					border:1px solid #000;
					background:#333;
					color:#fff;
				}
			}
		}

		table {
			width:100%;
			font-size:18px;

			thead {
				tr {
					th {
						background:#333;
						color:#fff;
						padding:10px 1px;
						border-right:1px solid #fff;

						&:last-child {
							border:none;
						}
					}
				}
			}

			tbody {
				tr {

					&:nth-child(odd) {
						background:#eee;
					}

					td {
						padding:10px 1px;
						border-right:1px solid #ccc;
						border-bottom:1px solid #ccc;
						text-align:center;

						&:last-child {
							border-right:none;
						}

						button {
							border:none;
							background:#555;
							color:#fff;
						}

					}
				}
			}
		}

		&>textarea {
			background:#222;
			width:100%;
			height:500px;
			padding:20px;
			font-size:18px;
			line-height:1.6;
			color:#ccc;

		}

		div.btn-set {
			text-align:center;
			margin:40px 0 0;
			font-size:0;

			button {
				border:none;
				background:#666;
				color:#fff;
				font-size:36px;
				padding:20px 60px;
				border-radius:10px;
				margin:0 10px;
				@include inner-shadow($x:0,$y: -6px, $blur: 0, $spread: 0, $alpha: 0.4);

				&.main {
					background:#0389da;
				}
			}
		}


	}
}

