/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
// */
div#content.sub01 div.sub-head {
  background: #74C8FF;
}
div#content.sub01 div.sub-head.fix {
  background: rgba(116, 200, 255, 0.8);
}

div#content.sub02 div.sub-head {
  background: #91DCD2;
}
div#content.sub02 div.sub-head.fix {
  background: rgba(145, 220, 210, 0.8);
}

div#content.sub03 div.sub-head {
  background: #88C46F;
}
div#content.sub03 div.sub-head.fix {
  background: rgba(136, 196, 111, 0.8);
}

div#content.sub04 div.sub-head {
  background: #FFCE48;
}
div#content.sub04 div.sub-head.fix {
  background: rgba(255, 206, 72, 0.8);
}

div#content.sub05 div.sub-head {
  background: #8FABE3;
}
div#content.sub05 div.sub-head.fix {
  background: rgba(143, 171, 227, 0.8);
}

/* basic */
.pagenation {
  display: inline-block;
  text-align: center;
  font-size: 0;
  margin: 50px 0;
  padding: 0 !important;
  width: 100%;
}
.pagenation a {
  background: #efefef;
}
.pagenation a,
.pagenation strong {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  color: #222;
  width: 34px;
  line-height: 34px;
  margin: 0 3px;
  border: 1px solid #CCCCCC;
  background: #fff;
}
@media (min-width: 1200px) {
  .pagenation a,
  .pagenation strong {
    width: 46px;
    line-height: 46px;
  }
}
.pagenation a.jump, .pagenation a.move,
.pagenation strong.jump,
.pagenation strong.move {
  font-size: 0;
  position: relative;
}
.pagenation a.jump i, .pagenation a.move i,
.pagenation strong.jump i,
.pagenation strong.move i {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #222;
  font-size: 18px;
  transform: translateY(-50%) translateX(-50%);
}
.pagenation .active,
.pagenation strong {
  font-weight: normal;
  font-weight: 500;
  color: #fff;
  background: #2E2E30;
  border-color: #2E2E30;
}

* {
  box-sizing: border-box;
}

input[type=password] {
  font-family: sans-serif;
}
input[type=password]::-moz-placeholder {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}
input[type=password]::placeholder {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* default input */
input,
select,
textarea {
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  /*
         @media all and (max-width: 1199px) {
             appearance: none;
             -moz-appearance: none;
             -ms-appearance: none;
             -webkit-appearance: none;

             &::-ms-expand {
                 display: none;
             }
         }
     */
}

a {
  text-decoration: none;
  color: #404040;
}

button {
  outline: none;
  border-radius: 0;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal.on {
  display: block;
}
.modal .modal-content {
  position: relative;
  background-color: #fff;
  margin: 30vh auto 0;
  padding: 40px;
  width: 800px;
  border-radius: 20px;
  font-size: 38px;
  line-height: 1.6;
  word-break: keep-all;
}
.modal .modal-content h2 {
  position: relative;
  font-size: 36px;
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 2px solid #333;
}
.modal .modal-content h2 button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: transparent;
}
.modal .modal-content li {
  margin: 0 0 20px;
}
.modal .modal-content div.btn-set {
  text-align: center;
  margin: 40px 0 0;
  font-size: 0;
}
.modal .modal-content div.btn-set button {
  border: none;
  background: #666;
  color: #fff;
  font-size: 36px;
  padding: 20px 60px;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.4) inset;
}
.modal .modal-content div.btn-set button.main {
  background: #0389da;
}
.modal .modal-content div.btns {
  text-align: center;
  margin: 40px 0 0;
}
.modal .modal-content div.btns button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 28px;
}
.modal .modal-content div.btns button span {
  color: #777;
}

.modal-admin {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-admin.on {
  display: block;
}
.modal-admin .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 40px;
  width: 980px;
  margin-left: -490px;
  border-radius: 20px;
  word-break: keep-all;
}
.modal-admin .modal-content h2 {
  font-size: 36px;
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 2px solid #333;
}
.modal-admin .modal-content h2 button {
  position: absolute;
  right: 20px;
  bottom: 10;
  border: none;
  background: transparent;
  width: 22px;
  height: 22px;
  font-size: 0;
  background: url("../images/icon-close.svg") no-repeat center/100% auto;
}
.modal-admin .modal-content button.close {
  position: absolute;
  right: 40px;
  top: 40px;
  border: none;
  background: none;
}
.modal-admin .modal-content button.close i {
  font-size: 60px;
}
.modal-admin .modal-content div.board-tool {
  margin: 20px 0 40px;
  text-align: center;
}
.modal-admin .modal-content div.board-tool > button {
  border: none;
  background: none;
  vertical-align: top;
  position: relative;
  top: 2px;
}
.modal-admin .modal-content div.board-tool > button i {
  font-size: 34px;
}
.modal-admin .modal-content div.board-tool span {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 800;
}
.modal-admin .modal-content div.board-tool div.search {
  display: inline-block;
  margin-left: 20px;
}
.modal-admin .modal-content div.board-tool div.search input {
  font-size: 24px;
  border: 1px solid #ccc;
}
.modal-admin .modal-content div.board-tool div.search button {
  font-size: 24px;
  border: 1px solid #000;
  background: #333;
  color: #fff;
}
.modal-admin .modal-content table {
  width: 100%;
  font-size: 18px;
}
.modal-admin .modal-content table thead tr th {
  background: #333;
  color: #fff;
  padding: 10px 1px;
  border-right: 1px solid #fff;
}
.modal-admin .modal-content table thead tr th:last-child {
  border: none;
}
.modal-admin .modal-content table tbody tr:nth-child(odd) {
  background: #eee;
}
.modal-admin .modal-content table tbody tr td {
  padding: 10px 1px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.modal-admin .modal-content table tbody tr td:last-child {
  border-right: none;
}
.modal-admin .modal-content table tbody tr td button {
  border: none;
  background: #555;
  color: #fff;
}
.modal-admin .modal-content > textarea {
  background: #222;
  width: 100%;
  height: 500px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
}
.modal-admin .modal-content div.btn-set {
  text-align: center;
  margin: 40px 0 0;
  font-size: 0;
}
.modal-admin .modal-content div.btn-set button {
  border: none;
  background: #666;
  color: #fff;
  font-size: 36px;
  padding: 20px 60px;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.4) inset;
}
.modal-admin .modal-content div.btn-set button.main {
  background: #0389da;
}

/* basic */
::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

html {
  margin: 0 auto;
}

html,
body {
  position: relative;
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  width: 1080px;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: url(../images/background.jpg) no-repeat left top/100% 1920px;
  /* header */
}
body header {
  display: inline-block;
  width: 100%;
  height: 226px;
}
body header h1 {
  margin: 80px 60px 0;
  color: #fff;
  line-height: 1.2;
  font-size: 46px;
}
body header h1 span {
  display: block;
  font-weight: 900;
}
body header h1 small {
  display: block;
  font-weight: 400;
}
body header a.admin {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  font-size: 0;
  width: 140px;
  height: 140px;
  cursor: pointer;
}
body div#content {
  position: relative;
  height: calc(100% - 226px);
  /* User */
  /* admin */
}
body div#content.user section.now-loading {
  height: 812px;
  padding: 260px 40px 0;
  text-align: center;
}
body div#content.user section.now-loading i {
  font-size: 200px;
  color: #fff;
  margin-bottom: 60px;
}
body div#content.user section.now-loading strong {
  display: block;
  font-size: 44px;
  color: #fff;
  font-weight: 500;
}
body div#content.user section.now-loading span {
  display: block;
  font-size: 34px;
  color: #c5c5c5;
}
body div#content.user section.now-loading {
  height: 812px;
  padding: 260px 40px 0;
  text-align: center;
}
body div#content.user section.now-loading i {
  font-size: 200px;
  color: #fff;
  margin-bottom: 60px;
}
body div#content.user section.now-loading strong {
  display: block;
  font-size: 44px;
  color: #fff;
  font-weight: 500;
}
body div#content.user section.now-loading span {
  display: block;
  font-size: 34px;
  color: #c5c5c5;
}
body div#content.user section.welcome-message {
  height: 812px;
  padding: 260px 40px 0;
  text-align: center;
}
body div#content.user section.welcome-message::before {
  content: "";
  display: block;
  margin: 0 auto 40px;
  width: 360px;
  height: 260px;
  background: url(../images/logo1.svg) no-repeat center/100% auto;
}
body div#content.user section.welcome-message strong {
  display: block;
  font-size: 44px;
  color: #fff;
  font-weight: 500;
}
body div#content.user section.welcome-message span {
  display: block;
  font-size: 34px;
  color: #c5c5c5;
}
body div#content.user section.welcome-message.main {
  height: 500px;
  padding: 180px 0 0;
}
body div#content.user section.welcome-message.main::before {
  display: none;
}
body div#content.user section.main-video {
  width: 100%;
  height: 812px;
}
body div#content.user section.main-video video {
  width: 100%;
  height: 812px;
  -webkit-border-radius: 1px;
  -o-object-fit: cover;
     object-fit: cover;
}
body div#content.user section.main-video div.image {
  width: 100%;
  height: 812px;
}
body div#content.user section.main-video div.image img {
  width: 100%;
  height: 812px;
  -o-object-fit: cover;
     object-fit: cover;
}
body div#content.user section.intro-message {
  width: 100%;
  text-align: center;
  padding: 0 0 50px;
  height: 812px;
}
body div#content.user section.intro-message::before {
  content: "";
  display: block;
  width: 100%;
  height: 666px;
  background: url(../images/img-intro.jpg) no-repeat center/100% auto;
  margin: 0 0 50px;
}
body div#content.user section.intro-message strong {
  display: block;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
}
body div#content.user section.intro-message span {
  display: block;
  font-size: 28px;
  color: #8a8eac;
}
body div#content.user section.intro-message a {
  display: block;
  font-size: 0;
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 226px;
  bottom: 0;
}
body div#content.user section.main-btn {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
body div#content.user section.main-btn a {
  display: inline-block;
  flex: 1 1 20%;
  height: 382px;
  margin: 0 10px;
  padding: 100px 0 0;
  text-align: center;
}
body div#content.user section.main-btn a.ticket {
  background: url(../images/main_btn01.png) no-repeat center/100% auto;
}
body div#content.user section.main-btn a.program {
  background: url(../images/main_btn02.png) no-repeat center/100% auto;
}
body div#content.user section.main-btn a.education {
  background: url(../images/main_btn04.png) no-repeat center/100% auto;
}
body div#content.user section.main-btn a.product {
  background: url(../images/main_btn03.png) no-repeat center/100% auto;
}
body div#content.user section.main-btn a strong {
  display: block;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
}
body div#content.user section.main-btn a span {
  display: block;
  font-size: 20px;
  color: #777;
}
body div#content.user div.sub-box {
  display: inline-block;
  width: 100%;
  height: 1460px;
}
body div#content.user div.sub-box section.ticket-message {
  padding: 60px 0 0;
  text-align: center;
  height: 220px;
}
body div#content.user div.sub-box section.ticket-message strong {
  display: block;
  font-size: 28px;
  color: #fff;
  font-weight: 500;
}
body div#content.user div.sub-box section.ticket-message span {
  display: block;
  font-size: 22px;
  color: #8a8eac;
}
body div#content.user div.sub-box section.ticket-message i {
  font-style: normal;
  display: block;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0 0;
  color: #ffcc00;
}
body div#content.user div.sub-box section.ticket-select {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 86px;
  padding: 20px 0 0 20px;
  border-radius: 20px 20px 0 0;
  font-size: 0;
  height: 700px;
}
body div#content.user div.sub-box section.ticket-select.on {
  display: block;
}
body div#content.user div.sub-box section.ticket-select .swiper-button {
  background: #000;
  width: 86px;
  height: 130px;
  opacity: 0.7;
}
body div#content.user div.sub-box section.ticket-select .swiper-button.swiper-button-prev {
  left: 0;
}
body div#content.user div.sub-box section.ticket-select .swiper-button.swiper-button-next {
  right: 0;
}
body div#content.user div.sub-box section.ticket-select .swiper-button.swiper-button-disabled {
  opacity: 0.1;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper {
  overflow: visible;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide {
  opacity: 0.6;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide.swiper-slide-active {
  opacity: 1;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button {
  position: relative;
  overflow: hidden;
  width: 276px;
  height: 320px;
  border: none;
  margin: 0 20px 20px 0;
  padding: 180px 0 0;
  border-radius: 14px;
  background: none;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button.type1 {
  background: url(../images/sub_btn0101.png) no-repeat center top/100% auto;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button.type2 {
  background: url(../images/sub_btn0102.png) no-repeat center top/100% auto;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button.type3 {
  background: url(../images/sub_btn0103.png) no-repeat center top/100% auto;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button.type4 {
  background: url(../images/sub_btn0104.png) no-repeat center top/100% auto;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button.type5 {
  background: url(../images/sub_btn0105.png) no-repeat center top/100% auto;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button img {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button strong {
  display: block;
  font-weight: 600;
  font-size: 30px;
  color: #171860;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button span {
  display: block;
  font-size: 28px;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button span u {
  text-decoration: none;
  font-weight: 900;
}
body div#content.user div.sub-box section.ticket-select div.ticket-swiper div.swiper-slide button > u {
  font-size: 24px;
  color: #777;
  text-decoration: none;
}
body div#content.user div.sub-box section.ticket-view {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 86px 0;
  border-radius: 20px 20px 0 0;
  height: 700px;
}
body div#content.user div.sub-box section.ticket-view.on {
  display: block;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide {
  position: relative;
  z-index: 10;
  display: flex;
  padding: 20px 20px 0;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide p.big-image {
  position: relative;
  overflow: hidden;
  width: 276px;
  height: 320px;
  border: none;
  margin: 0 20px 20px 0;
  padding: 210px 0 0;
  border-radius: 14px;
  text-align: center;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide p.big-image img {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide p.big-image strong {
  display: block;
  font-weight: 600;
  font-size: 30px;
  color: #171860;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide p.big-image span {
  display: block;
  font-size: 28px;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide p.big-image span u {
  text-decoration: none;
  font-weight: 900;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide p.big-image > u {
  font-size: 24px;
  color: #777;
  text-decoration: none;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl {
  margin: 0;
  flex-grow: 1;
  width: 586px;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dt {
  float: left;
  position: relative;
  left: 20px;
  top: 20px;
  z-index: 2;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dt strong {
  display: block;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dt span {
  display: block;
  font-size: 20px;
  color: #777;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dd {
  position: relative;
  margin: 0;
  padding: 20px 20px 20px 200px;
  height: 140px;
  font-size: 26px;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 6px;
  background: rgba(255, 255, 255, 0.1);
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dd::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #2d366a;
  width: 180px;
  border-radius: 14px 0 0 14px;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dd span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 50px;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dd:first-of-type {
  height: 240px;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide dl dd:first-of-type span {
  -webkit-line-clamp: 4;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide div.btns button {
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 276px;
  height: 111px;
  border: none;
  padding: 0;
  box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 20px;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide div.btns button.cancel {
  background: #4e5db2;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide div.btns button.buy {
  background: #0389da;
  bottom: 114px;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide div.btns button strong {
  display: block;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
body div#content.user div.sub-box section.ticket-view div.swiper-slide div.btns button span {
  display: block;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
}
body div#content.user div.sub-box section.ticket-list {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 86px 20px;
  padding: 20px 20px 0 20px;
  border-radius: 0 0 20px 20px;
  font-size: 0;
  height: 300px;
  overflow-y: scroll;
}
body div#content.user div.sub-box section.ticket-list div.line {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 14px;
  padding: 14px 40px;
  margin: 0 0 14px;
  color: #fff;
}
body div#content.user div.sub-box section.ticket-list div.line strong {
  flex: 1 1 50%;
  font-size: 32px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body div#content.user div.sub-box section.ticket-list div.line div.count {
  flex: 1 1 25%;
  font-size: 32px;
  font-weight: 500;
}
body div#content.user div.sub-box section.ticket-list div.line div.count button {
  background: none;
  border: none;
  background: #4e5db2;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
body div#content.user div.sub-box section.ticket-list div.line div.count input {
  width: 70px;
  border: none;
  background: none;
  text-align: center;
}
body div#content.user div.sub-box section.ticket-list div.line span {
  flex: 1 1 30%;
  text-align: right;
  font-size: 32px;
  font-weight: 500;
  min-width: 20%;
}
body div#content.user div.sub-box section.ticket-list div.line span u {
  text-decoration: none;
}
body div#content.user div.sub-box section.card {
  position: relative;
  z-index: 10;
  background: url(../images/card.png) no-repeat center 340px/300px 228px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 220px 86px 20px;
  padding: 80px 40px 0 40px;
  border-radius: 20px;
  font-size: 0;
  height: 700px;
  text-align: center;
}
body div#content.user div.sub-box section.card strong {
  display: block;
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 20px;
}
body div#content.user div.sub-box section.card strong span {
  display: block;
}
body div#content.user div.sub-box section.card p {
  margin: 0;
  display: block;
  font-size: 22px;
  color: #8a8eac;
}
body div#content.user div.sub-box section.card p span {
  display: block;
}
body div#content.user div.sub-box section.ticket-plan {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 86px 20px;
  padding: 20px;
  border-radius: 20px;
  font-size: 0;
}
body div#content.user div.sub-box section.ticket-plan div.line {
  display: flex;
  justify-content: space-between;
  padding: 14px 40px;
  color: #fff;
}
body div#content.user div.sub-box section.ticket-plan div.line strong {
  display: block;
  font-size: 32px;
  font-weight: 500;
}
body div#content.user div.sub-box section.ticket-plan div.line div.count {
  font-size: 32px;
  font-weight: 500;
}
body div#content.user div.sub-box section.ticket-plan div.line div.count > button {
  position: relative;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  height: 50px;
  padding: 0 60px 0 10px;
  border-radius: 5px;
}
body div#content.user div.sub-box section.ticket-plan div.line div.count > button i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
body div#content.user div.sub-box section.ticket-plan div.line div.count ul {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 140px;
  right: 50px;
  top: 100px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 0;
  padding: 20px;
  font-size: 0;
}
body div#content.user div.sub-box section.ticket-plan div.line div.count ul.on {
  display: block;
}
body div#content.user div.sub-box section.ticket-plan div.line div.count ul li {
  display: inline-block;
  width: 20%;
}
body div#content.user div.sub-box section.ticket-plan div.line div.count ul li button {
  width: calc(100% - 4px);
  font-size: 32px;
  border: none;
  margin: 2px;
  background: #000;
  border-radius: 10px;
}
body div#content.user div.sub-box section.result {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 220px 86px 20px;
  padding: 80px 40px 0 40px;
  border-radius: 20px;
  font-size: 0;
  height: 700px;
  text-align: center;
}
body div#content.user div.sub-box section.result h2 {
  font-size: 62px;
  color: #fff;
  margin: 0 0 40px;
  font-weight: 500;
}
body div#content.user div.sub-box section.result h2 i {
  display: block;
  font-size: 180px;
}
body div#content.user div.sub-box section.result strong {
  display: block;
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 20px;
}
body div#content.user div.sub-box section.result strong span {
  display: block;
}
body div#content.user div.sub-box section.result p {
  margin: 0;
  display: block;
  font-size: 22px;
  color: #8a8eac;
}
body div#content.user div.sub-box section.result p span {
  display: block;
}
body div#content.user div.sub-box section.ticket-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 86px 20px;
  padding: 24px 60px;
  border-radius: 20px;
  font-size: 0;
  height: 140px;
  color: #fff;
}
body div#content.user div.sub-box section.ticket-total h2 {
  margin: 0;
  font-weight: 500;
}
body div#content.user div.sub-box section.ticket-total h2 span {
  display: block;
  font-size: 36px;
}
body div#content.user div.sub-box section.ticket-total h2 small {
  display: block;
  font-size: 26px;
  font-weight: 400;
  color: #777;
}
body div#content.user div.sub-box section.ticket-total strong {
  display: block;
  font-size: 48px;
}
body div#content.user div.sub-box section.ticket-total strong u {
  text-decoration: none;
}
body div#content.user div.sub-box section.btn-set {
  text-align: center;
  font-size: 0;
}
body div#content.user div.sub-box section.btn-set button {
  height: 111px;
  border: none;
  padding: 0 80px;
  box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 10px;
  margin: 30px 10px;
}
body div#content.user div.sub-box section.btn-set button.cancel {
  background: #4e5db2;
}
body div#content.user div.sub-box section.btn-set button.pay {
  background: #0389da;
}
body div#content.user div.sub-box section.btn-set button strong {
  display: block;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
body div#content.user div.sub-box section.btn-set button span {
  display: block;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
}
body div#content.admin div.sub-box {
  display: inline-block;
  width: 100%;
  height: 1460px;
}
body div#content.admin div.sub-box section.login {
  width: 800px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  margin: 160px auto;
  padding: 80px 160px;
  text-align: center;
  font-size: 0;
}
body div#content.admin div.sub-box section.login fieldset {
  border: none;
  margin: 0 0 20px;
  padding: 0;
  font-size: 0;
}
body div#content.admin div.sub-box section.login fieldset legend {
  font-size: 46px;
  font-weight: 600;
  margin: 0 0 30px;
}
body div#content.admin div.sub-box section.login fieldset label {
  display: inline-block;
  background: #eee;
  line-height: 80px;
  font-size: 32px;
  width: 35%;
  padding: 0 20px;
}
body div#content.admin div.sub-box section.login fieldset input {
  width: 100%;
  font-size: 32px;
  height: 100px;
  border: none;
  background: #eee;
  padding: 0 20px;
  font-weight: 900;
  text-align: center;
  border-radius: 20px;
  margin: 0 0 10px;
}
body div#content.admin div.sub-box section.login fieldset input::-moz-placeholder {
  color: #999;
  font-weight: 500;
}
body div#content.admin div.sub-box section.login fieldset input::placeholder {
  color: #999;
  font-weight: 500;
}
body div#content.admin div.sub-box section.login button {
  font-size: 32px;
  height: 80px;
  width: 30%;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  background: #444;
}
body div#content.admin div.sub-box section.login button.main {
  border-radius: 20px 0 0 20px;
  background: #4e5db2;
  width: 70%;
}
body div#content.admin div.sub-box section.main {
  width: 1000px;
  margin: 60px auto 0;
  font-size: 0;
  flex-wrap: wrap;
}
body div#content.admin div.sub-box section.main fieldset {
  width: 100%;
  border: none;
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
}
body div#content.admin div.sub-box section.main fieldset legend {
  font-size: 28px;
  font-weight: 500;
  padding: 0 20px;
  margin: 0 0 20px 20px;
  color: #fff;
  border-bottom: 1px;
}
body div#content.admin div.sub-box section.main fieldset p {
  display: inline-block;
  margin: 0 0 10px;
  font-size: 26px;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
body div#content.admin div.sub-box section.main fieldset p:nth-of-type(3n) {
  margin-right: 0;
}
body div#content.admin div.sub-box section.main fieldset p label {
  display: block;
  color: #fff;
  margin: 0 0 10px;
}
body div#content.admin div.sub-box section.main fieldset p input {
  height: 52px;
  width: 100%;
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  font-weight: 700;
}
body div#content.admin div.sub-box section.main fieldset div {
  display: inline-block;
  margin: 0 0 20px;
  font-size: 26px;
  display: flex;
}
body div#content.admin div.sub-box section.main fieldset div input {
  display: none;
}
body div#content.admin div.sub-box section.main fieldset div label {
  display: block;
  color: #fff;
  flex-grow: 1;
  text-align: center;
  background: #222;
  padding: 6px;
}
body div#content.admin div.sub-box section.main fieldset div label:first-of-type {
  border-radius: 10px 0 0 10px;
}
body div#content.admin div.sub-box section.main fieldset div label:last-of-type {
  border-radius: 0 10px 10px 0;
}
body div#content.admin div.sub-box section.main fieldset div input:checked + label {
  background: #0389da;
}
body div#content.admin div.sub-box section.main fieldset textarea {
  width: 100%;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  min-height: 180px;
  margin: 0 0 10px;
}
body div#content.admin div.sub-box section.main div.links {
  display: flex;
}
body div#content.admin div.sub-box section.main div.links a,
body div#content.admin div.sub-box section.main div.links button {
  display: block;
  border: none;
  flex-grow: 1;
  font-size: 26px;
  background: #ffcc00;
  color: #000;
  text-align: center;
  line-height: 80px;
  margin: 0 3px 0 0;
  font-weight: 600;
  box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.4) inset;
}
body div#content.admin div.sub-box section.main div.links a:first-of-type,
body div#content.admin div.sub-box section.main div.links button:first-of-type {
  border-radius: 10px 0 0 10px;
}
body div#content.admin div.sub-box section.main div.links a:last-of-type,
body div#content.admin div.sub-box section.main div.links button:last-of-type {
  border-radius: 0 10px 10px 0;
  margin: 0;
}
body div#content.admin div.sub-box section.main div.tools {
  display: flex;
  margin-top: 6px;
}
body div#content.admin div.sub-box section.main div.tools a,
body div#content.admin div.sub-box section.main div.tools button {
  display: block;
  border: none;
  flex-grow: 1;
  font-size: 26px;
  background: #4e5db2;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin: 0 3px 0 0;
  font-weight: 600;
  box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.4) inset;
}
body div#content.admin div.sub-box section.main div.tools a:first-of-type,
body div#content.admin div.sub-box section.main div.tools button:first-of-type {
  border-radius: 10px 0 0 10px;
}
body div#content.admin div.sub-box section.main div.tools a:last-of-type,
body div#content.admin div.sub-box section.main div.tools button:last-of-type {
  border-radius: 0 10px 10px 0;
  margin: 0;
}
body div#content.admin div.sub-box section.sub-admin div.container {
  text-align: center;
  padding: 0 45px;
}
body div#content.admin div.sub-box section.sub-admin div.container h2 {
  display: none;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area {
  min-height: 120px;
  padding: 25px 0;
  color: #fff;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area label {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 0 0;
  font-size: 22px;
  line-height: 70px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area input + label {
  padding-left: 50px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area u {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  font-size: 22px;
  line-height: 70px;
  text-decoration: none;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area input {
  height: 70px;
  font-size: 22px;
  background: #000;
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 0 10px;
  text-align: center;
  width: 180px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area input.text {
  width: 260px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area button {
  height: 70px;
  width: 70px;
  vertical-align: top;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background: #0077a8;
  font-size: 0;
}
body div#content.admin div.sub-box section.sub-admin div.container div.tool-area button i {
  font-size: 32px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.info-area {
  min-height: 120px;
  padding: 25px 25px 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
body div#content.admin div.sub-box section.sub-admin div.container div.info-area dl {
  font-size: 22px;
  text-align: left;
}
body div#content.admin div.sub-box section.sub-admin div.container div.info-area dl dt {
  width: 210px;
  float: left;
}
body div#content.admin div.sub-box section.sub-admin div.container div.info-area dl dd {
  padding: 0 0 10px 220px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.btn-area {
  min-height: 120px;
  padding: 25px 0;
  color: #fff;
}
@media (max-width: 768px) {
  body div#content.admin div.sub-box section.sub-admin div.container div.btn-area {
    padding: 20px 0;
  }
}
body div#content.admin div.sub-box section.sub-admin div.container div.btn-area button {
  height: 70px;
  vertical-align: top;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background: #000;
  font-size: 22px;
  padding: 0 20px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.btn-area button.main {
  background: #0077a8;
}
body div#content.admin div.sub-box section.sub-admin div.container div.table-area {
  height: 1260px;
  background: #000000;
  overflow-y: scroll;
}
body div#content.admin div.sub-box section.sub-admin div.container div.table-area.small {
  height: 1000px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write {
  padding: 30px 0 0;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write input[type=text] {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  font-size: 22px;
  background: #555;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write input[type=text]::-moz-placeholder {
  color: #ccc;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write input[type=text]::placeholder {
  color: #ccc;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write textarea {
  width: 100%;
  height: 580px;
  padding: 30px;
  font-size: 22px;
  background: #555;
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write textarea::-moz-placeholder {
  color: #ccc;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write textarea::placeholder {
  color: #ccc;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area {
  font-size: 0;
  text-align: center;
  padding: 30px 0 50px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.left,
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.right {
  display: inline-block;
  width: 49%;
  font-size: 22px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.left button,
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.right button {
  padding: 20px;
  margin: 0 4px;
  border: none;
  border-radius: 10px;
  background: #888;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.left button.sub,
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.right button.sub {
  background: #36720e;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.left button.main,
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.right button.main {
  background: #0077a8;
  padding: 25px 60px;
  font-size: 24px;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.left {
  text-align: left;
}
body div#content.admin div.sub-box section.sub-admin div.container div.board-write div.button-area div.right {
  text-align: right;
}
body div#content.admin div.sub-box section.sub-admin div.container ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  font-size: 0;
  display: flex;
}
body div#content.admin div.sub-box section.sub-admin div.container ul li {
  padding: 1px;
  flex-grow: 1;
}
body div#content.admin div.sub-box section.sub-admin div.container ul li a {
  display: block;
  padding: 30px 0;
  color: #fff;
  background: #000;
  font-size: 22px;
  font-weight: 600;
}
body div#content.admin div.sub-box section.sub-admin div.container ul li a:hover, body div#content.admin div.sub-box section.sub-admin div.container ul li a.active {
  background: #323232;
  transition: all 0s linear;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.25) inset;
}
body div#content.admin div.sub-box section.sub-admin div.container ul li a i {
  display: block;
  font-size: 60px;
  margin: 0 0 20px;
}
body div#content.admin div.sub-box section.sub-admin div.container ul.item4 li {
  width: 25%;
}
body div#content.admin div.sub-box section.sub-admin div.container ul.item3 li {
  width: 33.3333333333%;
}
body div#content.admin div.sub-box section.sub-admin.error div.container h2 {
  color: #f1592a;
}
body div#content.admin div.sub-box section.sub-admin.error div.container h2::before {
  display: none;
}
body div#content nav {
  position: relative;
  padding: 0 0 120px;
  text-align: right;
  font-size: 0;
}
body div#content nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -180px;
  width: 360px;
  height: 60px;
  background: url(../images/logo2.svg) no-repeat center/100% auto;
}
body div#content nav a.root {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  bottom: 120px;
  width: 275px;
  height: 111px;
  background: url(../images/btn_main.png) no-repeat center/100% auto;
  line-height: 1.2;
  padding: 20px 0 0 100px;
}
body div#content nav a.root strong {
  display: block;
  font-size: 28px;
  font-weight: 600;
}
body div#content nav a.root span {
  display: block;
  font-size: 26px;
  color: #777;
}
body div#content nav button {
  height: 111px;
  border: none;
  padding: 0 80px;
  box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.4) inset;
}
body div#content nav button:first-of-type {
  border-radius: 10px 0 0 10px;
}
body div#content nav button.delete {
  background: #4e5db2;
}
body div#content nav button.pay {
  background: #0389da;
}
body div#content nav button strong {
  display: block;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
body div#content nav button span {
  display: block;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=style.css.map */