// out: ./styl.css, compress: true, sourceMap: true
@import "normalize", "rem", "font", "color", "mixin", "default";

/* basic */
$min-width: 1080px;
$img-url: "../images";

// * {
//   @include ani(0.3s);
// }

::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

html {
  margin: 0 auto;
}

html,
body {
  position: relative;
  font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
  width: $min-width;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: url(../images/background.jpg) no-repeat left top / 100% 1920px;

  /* header */
  header {
    display: inline-block;
    width: 100%;
    height: 226px;

    h1 {
      margin: 80px 60px 0;
      color: #fff;
      line-height: 1.2;
      font-size: 46px;

      span {
        display: block;
        font-weight: 900;
      }

      small {
        display: block;
        font-weight: 400;
      }
    }

    a.admin {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      font-size: 0;
      width: 140px;
      height: 140px;
      cursor: pointer;
    }
  }

  div#content {
    position: relative;
    height: calc(100% - 226px);

    /* User */
    &.user {
      section.now-loading {
        height: 812px;
        padding: 260px 40px 0;
        text-align: center;

        i {
          font-size: 200px;
          color: #fff;
          margin-bottom: 60px;
        }

        strong {
          display: block;
          font-size: 44px;
          color: #fff;
          font-weight: 500;
        }

        span {
          display: block;
          font-size: 34px;
          color: #c5c5c5;
        }
      }
      section.now-loading {
        height: 812px;
        padding: 260px 40px 0;
        text-align: center;

        i {
          font-size: 200px;
          color: #fff;
          margin-bottom: 60px;
        }

        strong {
          display: block;
          font-size: 44px;
          color: #fff;
          font-weight: 500;
        }

        span {
          display: block;
          font-size: 34px;
          color: #c5c5c5;
        }
      }
      section.welcome-message {
        height: 812px;
        padding: 260px 40px 0;
        text-align: center;

        &::before {
          content: "";
          display: block;
          margin: 0 auto 40px;
          width: 360px;
          height: 260px;
          background: url(../images/logo1.svg) no-repeat center / 100% auto;
        }

        strong {
          display: block;
          font-size: 44px;
          color: #fff;
          font-weight: 500;
        }

        span {
          display: block;
          font-size: 34px;
          color: #c5c5c5;
        }

        &.main {
          height: 500px;
          padding: 180px 0 0;

          &::before {
            display: none;
          }
        }
      }

      section.main-video {
        width: 100%;
        height: 812px;

        video {
          width: 100%;
          height: 812px;
          -webkit-border-radius: 1px;
          object-fit: cover;
        }

        div.image {
          width: 100%;
          height: 812px;

          img {
            width: 100%;
            height: 812px;
            object-fit: cover;
          }
        }
      }

      section.intro-message {
        width: 100%;
        text-align: center;
        padding: 0 0 50px;
        height: 812px;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 666px;
          background: url(../images/img-intro.jpg) no-repeat center / 100% auto;
          margin: 0 0 50px;
        }

        strong {
          display: block;
          font-size: 35px;
          color: #fff;
          font-weight: 500;
        }

        span {
          display: block;
          font-size: 28px;
          color: #8a8eac;
        }

        a {
          display: block;
          font-size: 0;
          position: fixed;
          z-index: 10000;
          left: 0;
          right: 0;
          top: 226px;
          bottom: 0;
        }
      }

      section.main-btn {
        display: flex;
        justify-content: center;
        padding: 0 30px;

        a {
          display: inline-block;
          flex:1 1 20%;
          height: 382px;
          margin: 0 10px;
          padding: 100px 0 0;
          text-align: center;

          &.ticket {
            background: url(../images/main_btn01.png) no-repeat center / 100%
              auto;
          }

          &.program {
            background: url(../images/main_btn02.png) no-repeat center / 100%
              auto;
          }


          &.education {
            background: url(../images/main_btn04.png) no-repeat center / 100%
              auto;
          }

          &.product {
            background: url(../images/main_btn03.png) no-repeat center / 100%
              auto;
          }

          strong {
            display: block;
            font-size: 48px;
            font-weight: 600;
            margin-bottom:10px;
          }

          span {
            display: block;
            font-size: 20px;
            color: #777;
          }
        }
      }

      div.sub-box {
        display: inline-block;
        width: 100%;
        height: 1460px;

        section.ticket-message {
          padding: 60px 0 0;
          text-align: center;
          height: 220px;

          strong {
            display: block;
            font-size: 28px;
            color: #fff;
            font-weight: 500;
          }

          span {
            display: block;
            font-size: 22px;
            color: #8a8eac;
          }

          i {
            font-style: normal;
            display: block;
            font-size: 32px;
            color: #fff;
            font-weight: 500;
            margin: 10px 0 0;
            color: #ffcc00;
          }
        }

        section.ticket-select {
          display: none;
          background: rgba(0, 0, 0, 0.4);
          margin: 0 86px;
          padding: 20px 0 0 20px;
          border-radius: 20px 20px 0 0;
          font-size: 0;
          height: 700px;

          &.on {
            display: block;
          }

          .swiper-button {
            background: #000;
            width: 86px;
            height: 130px;
            opacity: 0.7;

            &.swiper-button-prev {
              left: 0;
            }

            &.swiper-button-next {
              right: 0;
            }

            &.swiper-button-disabled {
              opacity: 0.1;
            }
          }

          div.ticket-swiper {
            overflow: visible;

            div.swiper-slide {
              opacity: 0.6;

              &.swiper-slide-active {
                opacity: 1;
              }

              button {
                position: relative;
                overflow: hidden;
                width: 276px;
                height: 320px;
                border: none;
                margin: 0 20px 20px 0;
                padding: 180px 0 0;
                border-radius: 14px;
                background: none;

                &.type1 {
                  background: url(../images/sub_btn0101.png) no-repeat center
                    top / 100% auto;
                }

                &.type2 {
                  background: url(../images/sub_btn0102.png) no-repeat center
                    top / 100% auto;
                }

                &.type3 {
                  background: url(../images/sub_btn0103.png) no-repeat center
                    top / 100% auto;
                }

                &.type4 {
                  background: url(../images/sub_btn0104.png) no-repeat center
                    top / 100% auto;
                }

                &.type5 {
                  background: url(../images/sub_btn0105.png) no-repeat center
                    top / 100% auto;
                }

                img {
                  position: absolute;
                  z-index: -1;
                  left: 0;
                  right: 0;
                  top: 0;
                }

                strong {
                  display: block;
                  font-weight: 600;
                  font-size: 30px;
                  color: #171860;
                }

                span {
                  display: block;
                  font-size: 28px;

                  u {
                    text-decoration: none;
                    font-weight: 900;
                  }
                }

                & > u {
                  font-size: 24px;
                  color: #777;
                  text-decoration: none;
                }
              }
            }
          }
        }

        section.ticket-view {
          display: none;
          background: rgba(0, 0, 0, 0.4);
          margin: 0 86px 0;
          border-radius: 20px 20px 0 0;
          height: 700px;

          &.on {
            display: block;
          }

          div.swiper-slide {
            position: relative;
            z-index: 10;
            display: flex;

            padding: 20px 20px 0;
            p.big-image {
              position: relative;
              overflow: hidden;
              width: 276px;
              height: 320px;
              border: none;
              margin: 0 20px 20px 0;
              padding: 210px 0 0;
              border-radius: 14px;
              text-align: center;

              img {
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                top: 0;
              }

              strong {
                display: block;
                font-weight: 600;
                font-size: 30px;
                color: #171860;
              }

              span {
                display: block;
                font-size: 28px;

                u {
                  text-decoration: none;
                  font-weight: 900;
                }
              }

              & > u {
                font-size: 24px;
                color: #777;
                text-decoration: none;
              }
            }

            dl {
              margin: 0;
              flex-grow: 1;
              width: 586px;

              dt {
                float: left;
                position: relative;
                left: 20px;
                top: 20px;
                z-index: 2;

                strong {
                  display: block;
                  font-size: 28px;
                  font-weight: 500;
                  color: #fff;
                }

                span {
                  display: block;
                  font-size: 20px;
                  color: #777;
                }
              }

              dd {
                position: relative;
                margin: 0;
                padding: 20px 20px 20px 200px;
                height: 140px;
                font-size: 26px;
                color: #fff;
                border-radius: 20px;
                margin-bottom: 6px;
                background: rgba(255, 255, 255, 0.1);

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  background: #2d366a;
                  width: 180px;
                  border-radius: 14px 0 0 14px;
                }

                span {
                  display: block;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  line-height: 50px;
                }

                &:first-of-type {
                  height: 240px;

                  span {
                    -webkit-line-clamp: 4;
                  }
                }
              }
            }

            div.btns {
              button {
                position: absolute;
                left: 20px;
                bottom: 0;
                width: 276px;
                height: 111px;
                border: none;
                padding: 0;
                @include inner-shadow(
                  $x: 0,
                  $y: -6px,
                  $blur: 0,
                  $spread: 0,
                  $alpha: 0.4
                );
                border-radius: 20px;

                &.cancel {
                  background: #4e5db2;
                }

                &.buy {
                  background: #0389da;
                  bottom: 114px;
                }

                strong {
                  display: block;
                  font-size: 28px;
                  font-weight: 600;
                  color: #fff;
                }

                span {
                  display: block;
                  font-size: 26px;
                  color: rgba(255, 255, 255, 0.6);
                }
              }
            }
          }
        }

        section.ticket-list {
          position: relative;
          z-index: 10;
          background: rgba(0, 0, 0, 0.4);
          margin: 0 86px 20px;
          padding: 20px 20px 0 20px;
          border-radius: 0 0 20px 20px;
          font-size: 0;
          height: 300px;
          overflow-y: scroll;

          div.line {
            display: flex;
            justify-content: space-between;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 14px;
            padding: 14px 40px;
            margin: 0 0 14px;
            color: #fff;

            strong {
              flex: 1 1 50%;
              font-size: 32px;
              font-weight: 500;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            div.count {
              flex: 1 1 25%;
              font-size: 32px;
              font-weight: 500;

              button {
                background: none;
                border: none;
                background: #4e5db2;
                width: 50px;
                height: 50px;
                border-radius: 5px;
              }

              input {
                width: 70px;
                border: none;
                background: none;
                text-align: center;
              }
            }

            span {
              flex: 1 1 30%;
              text-align: right;
              font-size: 32px;
              font-weight: 500;
              min-width: 20%;

              u {
                text-decoration: none;
              }
            }
          }
        }

        section.card {
          position: relative;
          z-index: 10;
          background: url(../images/card.png) no-repeat center 340px / 300px
            228px;
          background-color: rgba(0, 0, 0, 0.4);
          margin: 220px 86px 20px;
          padding: 80px 40px 0 40px;
          border-radius: 20px;
          font-size: 0;
          height: 700px;
          text-align: center;

          strong {
            display: block;
            font-size: 28px;
            color: #fff;
            font-weight: 500;
            margin: 0 0 20px;

            span {
              display: block;
            }
          }

          p {
            margin: 0;
            display: block;
            font-size: 22px;
            color: #8a8eac;

            span {
              display: block;
            }
          }
        }

        section.ticket-plan {
          position: relative;
          z-index: 10;
          background: rgba(0, 0, 0, 0.4);
          margin: 0 86px 20px;
          padding: 20px;
          border-radius: 20px;
          font-size: 0;

          div.line {
            display: flex;
            justify-content: space-between;
            padding: 14px 40px;
            color: #fff;

            strong {
              display: block;
              font-size: 32px;
              font-weight: 500;
            }

            div.count {
              font-size: 32px;
              font-weight: 500;

              & > button {
                position: relative;
                border: none;
                background-color: rgba(0, 0, 0, 0.4);
                height: 50px;
                padding: 0 60px 0 10px;
                border-radius: 5px;

                i {
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }

              ul {
                display: none;
                position: absolute;
                z-index: 1000;
                left: 140px;
                right: 50px;
                top: 100px;
                list-style: none;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 20px;
                margin: 0;
                padding: 20px;
                font-size: 0;

                &.on {
                  display: block;
                }

                li {
                  display: inline-block;
                  width: calc(100% / 5);

                  button {
                    width: calc(100% - 4px);
                    font-size: 32px;
                    border: none;
                    margin: 2px;
                    background: #000;
                    border-radius: 10px;
                  }
                }
              }
            }
          }
        }
        section.result {
          position: relative;
          z-index: 10;
          background-color: rgba(0, 0, 0, 0.4);
          margin: 220px 86px 20px;
          padding: 80px 40px 0 40px;
          border-radius: 20px;
          font-size: 0;
          height: 700px;
          text-align: center;

          h2 {
            font-size: 62px;
            color: #fff;
            margin: 0 0 40px;
            font-weight: 500;

            i {
              display: block;
              font-size: 180px;
            }
          }

          strong {
            display: block;
            font-size: 28px;
            color: #fff;
            font-weight: 500;
            margin: 0 0 20px;

            span {
              display: block;
            }
          }

          p {
            margin: 0;
            display: block;
            font-size: 22px;
            color: #8a8eac;

            span {
              display: block;
            }
          }
        }

        section.ticket-total {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: rgba(0, 0, 0, 0.6);
          margin: 0 86px 20px;
          padding: 24px 60px;
          border-radius: 20px;
          font-size: 0;
          height: 140px;
          color: #fff;

          h2 {
            margin: 0;
            font-weight: 500;

            span {
              display: block;
              font-size: 36px;
            }

            small {
              display: block;
              font-size: 26px;
              font-weight: 400;
              color: #777;
            }
          }

          strong {
            display: block;
            font-size: 48px;

            u {
              text-decoration: none;
            }
          }
        }

        section.btn-set {
          text-align: center;
          font-size: 0;

          button {
            height: 111px;
            border: none;
            padding: 0 80px;
            @include inner-shadow(
              $x: 0,
              $y: -6px,
              $blur: 0,
              $spread: 0,
              $alpha: 0.4
            );
            border-radius: 10px;
            margin: 30px 10px;

            &.cancel {
              background: #4e5db2;
            }

            &.pay {
              background: #0389da;
            }

            strong {
              display: block;
              font-size: 28px;
              font-weight: 600;
              color: #fff;
            }

            span {
              display: block;
              font-size: 26px;
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }

    /* admin */
    &.admin {
      div.sub-box {
        display: inline-block;
        width: 100%;
        height: 1460px;

        section.login {
          width: 800px;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 40px;
          margin: 160px auto;
          padding: 80px 160px;
          text-align: center;
          font-size: 0;

          fieldset {
            border: none;
            margin: 0 0 20px;
            padding: 0;
            font-size: 0;

            legend {
              font-size: 46px;
              font-weight: 600;
              margin: 0 0 30px;
            }

            label {
              display: inline-block;
              background: #eee;
              line-height: 80px;
              font-size: 32px;
              width: 35%;
              padding: 0 20px;
            }

            input {
              width: 100%;
              font-size: 32px;
              height: 100px;
              border: none;
              background: #eee;
              padding: 0 20px;
              font-weight: 900;
              text-align: center;
              border-radius: 20px;
              margin: 0 0 10px;

              &::placeholder {
                color: #999;
                font-weight: 500;
              }
            }
          }

          button {
            font-size: 32px;
            height: 80px;
            width: 30%;
            border: none;
            border-radius: 0 20px 20px 0;
            color: #fff;
            background: #444;

            &.main {
              border-radius: 20px 0 0 20px;
              background: #4e5db2;
              width: 70%;
            }
          }
        }

        section.main {
          width: 1000px;
          margin: 60px auto 0;
          font-size: 0;
          flex-wrap: wrap;

          fieldset {
            width: 100%;
            border: none;
            margin: 0 0 10px;
            padding: 0 0 10px;

            border-top: 4px solid rgba(255, 255, 255, 0.2);

            legend {
              font-size: 28px;
              font-weight: 500;
              padding: 0 20px;
              margin: 0 0 20px 20px;
              color: #fff;
              border-bottom: 1px;
            }

            p {
              display: inline-block;
              margin: 0 0 10px;
              font-size: 26px;
              width: calc((100% - 60px) / 3);
              margin-right: 30px;

              &:nth-of-type(3n) {
                margin-right: 0;
              }

              label {
                display: block;
                color: #fff;
                margin: 0 0 10px;
              }

              input {
                height: 52px;
                width: 100%;
                border: none;
                padding: 0 20px;
                border-radius: 10px;
                font-weight: 700;
              }
            }

            div {
              display: inline-block;
              margin: 0 0 20px;
              font-size: 26px;
              display: flex;

              input {
                display: none;
              }

              label {
                display: block;
                color: #fff;
                flex-grow: 1;
                text-align: center;
                background: #222;
                padding: 6px;

                &:first-of-type {
                  border-radius: 10px 0 0 10px;
                }

                &:last-of-type {
                  border-radius: 0 10px 10px 0;
                }
              }

              input:checked + label {
                background: #0389da;
              }
            }

            textarea {
              width: 100%;
              font-size: 24px;
              padding: 20px;
              border-radius: 10px;
              min-height: 180px;
              margin: 0 0 10px;
            }
          }

          div.links {
            display: flex;

            a,
            button {
              display: block;
              border: none;
              flex-grow: 1;
              font-size: 26px;
              background: #ffcc00;
              color: #000;
              text-align: center;
              line-height: 80px;
              margin: 0 3px 0 0;
              font-weight: 600;
              @include inner-shadow(
                $x: 0,
                $y: -6px,
                $blur: 0,
                $spread: 0,
                $alpha: 0.4
              );

              &:first-of-type {
                border-radius: 10px 0 0 10px;
              }

              &:last-of-type {
                border-radius: 0 10px 10px 0;
                margin: 0;
              }
            }
          }

          div.tools {
            display: flex;
            margin-top: 6px;

            a,
            button {
              display: block;
              border: none;
              flex-grow: 1;
              font-size: 26px;
              background: #4e5db2;
              color: #fff;
              text-align: center;
              line-height: 80px;
              margin: 0 3px 0 0;
              font-weight: 600;
              @include inner-shadow(
                $x: 0,
                $y: -6px,
                $blur: 0,
                $spread: 0,
                $alpha: 0.4
              );

              &:first-of-type {
                border-radius: 10px 0 0 10px;
              }

              &:last-of-type {
                border-radius: 0 10px 10px 0;
                margin: 0;
              }
            }
          }
        }

        section.sub-admin {
          div.container {
            text-align: center;
            padding: 0 45px;

            h2 {
              display: none;
            }

            div.tool-area {
              min-height: 120px;
              padding: 25px 0;
              color: #fff;

              label {
                display: inline-block;
                vertical-align: top;
                padding: 0 20px 0 0;
                font-size: 22px;
                line-height: 70px;
              }

              input + label {
                padding-left: 50px;
              }

              u {
                display: inline-block;
                vertical-align: top;
                padding: 0 10px;
                font-size: 22px;
                line-height: 70px;
                text-decoration: none;
              }

              input {
                height: 70px;
                font-size: 22px;
                background: #000;
                border-radius: 10px;
                border: none;
                color: #fff;
                padding: 0 10px;
                text-align: center;
                width: 180px;

                &.text {
                  width: 260px;
                }
              }

              button {
                height: 70px;
                width: 70px;
                vertical-align: top;
                margin-left: 10px;
                border-radius: 10px;
                border: none;
                background: #0077a8;
                font-size: 0;
                i {
                  font-size: 32px;
                }
              }
            }

            div.info-area {
              min-height: 120px;
              padding: 25px 25px 15px;
              color: #fff;
              background: rgba(0, 0, 0, 0.4);

              dl {
                font-size: 22px;
                text-align: left;

                dt {
                  width: 210px;
                  float: left;
                }

                dd {
                  padding: 0 0 10px 220px;
                }
              }
            }

            div.btn-area {
              min-height: 120px;
              padding: 25px 0;
              color: #fff;

              @media (max-width: 768px) {
                padding: 20px 0;
              }

              button {
                height: 70px;
                vertical-align: top;
                margin-left: 10px;
                border-radius: 10px;
                border: none;
                background: #000;
                font-size: 22px;
                padding: 0 20px;

                &.main {
                  background: #0077a8;
                }
              }
            }

            div.table-area {
              height: 1260px;
              background: #000000;
              overflow-y: scroll;

              &.small {
                height: 1000px;
              }
            }

            div.board-write {
              padding: 30px 0 0;

              input[type="text"] {
                width: 100%;
                height: 80px;
                padding: 0 30px;
                font-size: 22px;
                background: #555;
                color: #fff;
                border: none;
                border-radius: 20px;
                margin-bottom: 30px;
                @include drop-shadow(
                  $x: 0,
                  $y: 10px,
                  $blur: 20px,
                  $spread: 0,
                  $alpha: 0.6
                );

                &::placeholder {
                  color: #ccc;
                }
              }

              textarea {
                width: 100%;
                height: 580px;
                padding: 30px;
                font-size: 22px;
                background: #555;
                color: #fff;
                border: none;
                border-radius: 20px;
                @include drop-shadow(
                  $x: 0,
                  $y: 10px,
                  $blur: 20px,
                  $spread: 0,
                  $alpha: 0.6
                );

                &::placeholder {
                  color: #ccc;
                }
              }

              div.button-area {
                font-size: 0;
                text-align: center;
                padding: 30px 0 50px;

                div.left,
                div.right {
                  display: inline-block;
                  width: 49%;
                  font-size: 22px;

                  button {
                    padding: 20px;
                    margin: 0 4px;
                    border: none;
                    border-radius: 10px;
                    background: #888;
                    color: #fff;
                    @include drop-shadow(
                      $x: 0,
                      $y: 10px,
                      $blur: 20px,
                      $spread: 0,
                      $alpha: 0.6
                    );

                    &.sub {
                      background: #36720e;
                    }

                    &.main {
                      background: #0077a8;
                      padding: 25px 60px;
                      font-size: 24px;
                    }
                  }
                }

                div.left {
                  text-align: left;
                }

                div.right {
                  text-align: right;
                }
              }
            }

            ul {
              list-style: none;
              margin: 10px 0 0;
              padding: 0;
              font-size: 0;
              display: flex;

              li {
                padding: 1px;
                flex-grow: 1;

                a {
                  display: block;
                  padding: 30px 0;
                  color: #fff;
                  background: #000;
                  font-size: 22px;
                  font-weight: 600;

                  &:hover,
                  &.active {
                    background: #323232;
                    @include ani(0s);
                    @include inner-shadow(
                      $x: 0,
                      $y: 10px,
                      $blur: 0,
                      $spread: 0,
                      $alpha: 0.25
                    );
                  }

                  i {
                    display: block;
                    font-size: 60px;
                    margin: 0 0 20px;
                  }
                }
              }

              &.item4 {
                li {
                  width: calc(100% / 4);
                }
              }

              &.item3 {
                li {
                  width: calc(100% / 3);
                }
              }
            }
          }

          &.error {
            div.container {
              h2 {
                color: #f1592a;

                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    nav {
      position: relative;
      padding: 0 0 120px;
      text-align: right;
      font-size: 0;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 130px;
        left: 50%;
        margin-left: -180px;
        width: 360px;
        height: 60px;
        background: url(../images/logo2.svg) no-repeat center / 100% auto;
      }

      a.root {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
        bottom: 120px;
        width: 275px;
        height: 111px;
        background: url(../images/btn_main.png) no-repeat center / 100% auto;
        line-height: 1.2;
        padding: 20px 0 0 100px;

        strong {
          display: block;
          font-size: 28px;
          font-weight: 600;
        }

        span {
          display: block;
          font-size: 26px;
          color: #777;
        }
      }

      button {
        height: 111px;
        border: none;
        padding: 0 80px;
        @include inner-shadow(
          $x: 0,
          $y: -6px,
          $blur: 0,
          $spread: 0,
          $alpha: 0.4
        );

        &:first-of-type {
          border-radius: 10px 0 0 10px;
        }

        &.delete {
          background: #4e5db2;
        }

        &.pay {
          background: #0389da;
        }

        strong {
          display: block;
          font-size: 28px;
          font-weight: 600;
          color: #fff;
        }

        span {
          display: block;
          font-size: 26px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
